@*
Available model properties:
    CartItems
        Product
        Title
        ProductAttributes
        Sku
        ProductImage
        IsDigital
        Price
        Weight
        ShippingCost
    ShippingOptions
        Price
        DisplayName
        Name
        ShippingCompany
        IncludedShippingAreas
        ExcludedShippingAreas
    PublishableKey
    Custom
*@
@if (Model.ShippingOptions != null) {
    <a href="@Url.Action("Checkout", "Stripe", new {area = "Nwazet.Commerce"})"
       class="stripe-checkout checkout"><img src="@Url.Content("~/Modules/Nwazet.Commerce/Content/checkout-with-stripe.png")" alt="@T("Checkout with Stripe")"/></a>
}