@using Nwazet.Commerce.Models
@using Orchard.Security
@{
    var productId = (int)Model.ProductId;
    var wishLists = (List<WishListListPart>)Model.WishLists;
    var user = (IUser)Model.User;

    Script.Require("jQuery");
    Style.Include("wishlists.nwazet-commerce.css", "wishlists.nwazet-commerce.min.css");

    var addToWishlistText = T("Add to WishList").Text;
}
@using (Html.BeginFormAntiForgeryPost()) {
    <div id="add-to-wishlist-popover">
        <ul id="add-to-wishlist-dropdown-list">
            <li id="add-to-wishlist-base-button">
                @Html.ActionLink(addToWishlistText, "AddToWishList", new { controller = "WishLists", area = "Nwazet.Commerce", productId = productId })
                @if (user != null) {
                    <ul>
                        @foreach (var wl in wishLists) {
                            <li>
                                @Display.AddToWishListButtonElement(ProductId: productId, WishList: wl)
                            </li>
                        }
                        <li>
                            @Display(Model.CreateShape)
                        </li>
                    </ul>
                }

            </li>
        </ul>
    </div>
}

