@{
    var productId = (int) Model.ProductId;
}

@using (Html.BeginFormAntiForgeryPost(
    Url.Action("Add", "ShoppingCart",
               new {area = "Nwazet.Commerce", id = productId}),
    FormMethod.Post,
    new Dictionary<string, object> {
        {"class", "addtocart"},
        {"data-productid", productId}
    })) {

    if (Model.ProductAttributes != null) {
        foreach (var productAttributeShape in Model.ProductAttributes) {
            @Display(productAttributeShape)
        }
    }
    <div class="addtocart-quantity-and-button">
        <input name="quantity" value="1" class="addtocart-quantity" type="number" />
        <button type="submit" class="addtocart-button">@T("Add to cart")</button>
    </div>
}