@using Nwazet.Commerce.Models
@using System.Linq;
@{
    var attributeFieldName = Html.Name("productattributes");
    var attributes = ((IEnumerable<ProductAttributePart>)Model.ProductAttributes).ToList();
}
@if (attributes != null && attributes.Any()) {
    foreach (ProductAttributePart attribute in attributes) {
        <select name="@(attributeFieldName + ".a" + attribute.Id)" class="product-attribute">
            @foreach (var val in attribute.AttributeValues) {
                var optionText = val.PriceAdjustment != 0 ? "(" + (val.PriceAdjustment < 0 ? "-" : "+") + T("$") + val.PriceAdjustment + ")" : "";
                <option value="@val.Text">@optionText</option>
            }
        </select>
    }
}
