@model Nwazet.Commerce.Models.ProductAttributePart
<fieldset>
    <label class="sub" for="@Html.Id("AttributeValues")">@T("Values")</label><br />
    @Html.TextArea("AttributeValues", String.Join("\r\n", Model.AttributeValues), 10, 80, new {})
    <div class="hint">@T("Enter attributes values, one per line. The first one is the default.")</div>
</fieldset>
