/* Style for "add to wishlist" button in product page*/
#add-to-wishlist-popover {
    position: relative;
    width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

ul#add-to-wishlist-dropdown-list {
    margin: 0px auto;
    position: relative;
    float: left;
    border-left: 1px solid #c4dbe7;
    border-right: 1px solid #c4dbe7;
}

    ul#add-to-wishlist-dropdown-list li {
        display: inline;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        float: left;
        position: relative;
        border-top: 1px solid #c4dbe7;
        border-bottom: 2px solid #c4dbe7;
    }

        ul#add-to-wishlist-dropdown-list li a {
            padding: 10px 25px;
            color: #616161;
            text-shadow: 1px 1px 0px #fff;
            text-decoration: none;
            display: inline-block;
            border-right: 1px solid #fff;
            border-left: 1px solid #C2C2C2;
            border-top: 1px solid #fff;
            background: #f5f5f5;
            -webkit-transition: color 0.2s linear, background 0.2s linear;
            -moz-transition: color 0.2s linear, background 0.2s linear;
            -o-transition: color 0.2s linear, background 0.2s linear;
            transition: color 0.2s linear, background 0.2s linear;
        }

            ul#add-to-wishlist-dropdown-list li a:hover {
                background: #f8f8f8;
                color: #282828;
            }

        ul#add-to-wishlist-dropdown-list li:hover > a {
            background: #fff;
        }

        /* Drop-Down Navigation */
        ul#add-to-wishlist-dropdown-list li:hover > ul {
            /*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
            visibility: visible;
            opacity: 1;
        }

    ul#add-to-wishlist-dropdown-list ul, ul#add-to-wishlist-dropdown-list ul li ul {
        list-style: none;
        margin: 0;
        padding: 0;
        /*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 99999;
        width: 180px;
        background: #f8f8f8;
        box-shadow: 1px 1px 3px #ccc;
        /* css3 transitions for smooth hover effect */
        -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
        -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
        -o-transition: opacity 0.2s linear, visibility 0.2s linear;
        transition: opacity 0.2s linear, visibility 0.2s linear;
    }

    ul#add-to-wishlist-dropdown-list ul {
        top: 43px;
        left: 1px;
    }

        ul#add-to-wishlist-dropdown-list ul li ul {
            top: 0;
            left: 181px; /* strong related to width:180px; from above */
        }

        ul#add-to-wishlist-dropdown-list ul li {
            clear: both;
            width: 100%;
            border: 0 none;
            border-bottom: 1px solid #c9c9c9;
        }

            ul#add-to-wishlist-dropdown-list ul li a {
                background: none;
                padding: 7px 15px;
                color: #616161;
                text-shadow: 1px 1px 0px #fff;
                text-decoration: none;
                display: inline-block;
                border: 0 none;
                float: left;
                clear: both;
                width: 150px;
            }

/*Style for "create new wishlist" modal*/
.wishListModalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .wishListModalDialog:target {
        opacity: 1;
        pointer-events: auto;
    }

    .wishListModalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

.closeWishListModalDialog {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

    .closeWishListModalDialog:hover {
        background: #00d9ff;
    }
/*Style for "create new wishlist" modal*/
#create-new-wishlist-open-modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    #create-new-wishlist-open-modal:target {
        opacity: 1;
        pointer-events: auto;
    }

    #create-new-wishlist-open-modal > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

        #create-new-wishlist-open-modal a.closeWishListModalDialog {
            all:initial;
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            #create-new-wishlist-open-modal a.closeWishListModalDialog:hover {
                background: #00d9ff;
            }
/**/
.button-looks-like-link {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.wishlist-addtocart-button {
    float: right;
}

.wishlist-remove-from-wishlist-button {
    float: right;
}

fieldset.wishlist-element {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}

fieldset.wishlist-list-of-elements {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}

div#your-wish-lists-content {
    clear: both;
}

    div#your-wish-lists-content > div#your-wish-lists {
        width: 252px;
        float: left;
    }

    div#your-wish-lists-content > div#active-wish-list {
        padding-left: 3.5%;
        overflow: hidden;
        float: left;
        width: auto;
    }

/*Style for "wishlist settings" modal*/
#wishlist-settings-table-header-row > th {
    font-weight: bold;
}

#button-apply-wishlist-settings {
    float: right;
}
